<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="Database" name="database" connectionString="Data Source=proddb;Initial Catalog=NLog;Integrated Security=True" dbProvider="System.Data.SqlClient"
           commandText =
             "insert into Notices ([CreateDate], [Origin], [LogLevel], [Message], [PhoneNumber], [SMS], [Sid])
              values (GETDATE(), @origin, @logLevel, @message, @phonenumber, @sms, @sid);">
      <parameter name="@origin" layout="${callsite}"/>
      <parameter name="@logLevel" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@phonenumber" layout="${event-context:item=PhoneNumber}"/>
      <parameter name="@sms" layout="${event-context:item=SMS}"/>
      <parameter name="@sid" layout="${event-context:item=Sid}"/>
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" writeTo="database"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>