<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->    
    <target xsi:type="Database" name="db" connectionStringName="NLog">
      <commandText>
        insert into Log ([CreateDate], [Origin], [LogLevel], [Message], [Exception], [StackTrace], [patronid], [patronbarcode], [callsid], [callstatus], [itemrecordid], [notificationtypeid], [action])
        values (
        GETDATE(),
        @origin,
        @logLevel,
        @message,
        case
        when len(@Exception) = 0 then null
        else @Exception
        end,
        case
        when len(@StackTrace) = 0 then null
        else @StackTrace
        end,
        case
        when len(@patronid) = 0 then null
        else @patronid
        end,
        case
        when len(@patronbarcode) = 0 then null
        else @patronbarcode
        end,
        case
        when len(@callsid) = 0 then null
        else @callsid
        end,
        case
        when len(@callstatus) = 0 then null
        else @callstatus
        end,
        case
        when len(@itemrecordid) = 0 then null
        else @itemrecordid
        end,
        case
        when len(@notificationtypeid) = 0 then null
        else @notificationtypeid
        end,
        case
        when len(@actiontaken) = 0 then null
        else @actiontaken
        end);
      </commandText>
      <parameter name="@origin" layout="${callsite}"/>
      <parameter name="@logLevel" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=Message}"/>
      <parameter name="@stackTrace" layout="${exception:format=StackTrace}"/>
      <parameter name="@patronid" layout="${event-context:patronid}"/>
      <parameter name="@patronbarcode" layout="${event-context:patronbarcode}"/>
      <parameter name="@callsid" layout="${event-context:callsid}"/>
      <parameter name="@callstatus" layout="${event-context:callstatus}"/>
      <parameter name="@itemrecordid" layout="${event-context:itemrecordid}"/>
      <parameter name="@notificationtypeid" layout="${event-context:notificationtypeid}"/>
      <parameter name="@actiontaken" layout="${event-context:actiontaken}"/>
    </target>
  </targets>

  <rules>
    <!-- all logging currently disabled, uncomment this line to turn back on -->
    <!--<logger name="*" writeTo="db"/>--> 
    <!--<logger name="*" minlevel="Trace" writeTo="f" />-->
  </rules>
</nlog>