<appSettings>  
<!-- GLOBAL -->
  <!-- authentication string to be sent in query string -->
  <add key="auth_string" value="" />
  <!-- your SQL server name -->
  <add key="db_server" value="" />
  <!-- the base url of the application's website ex: https://notices.mylibrary.org/ -->
  <add key="base_url" value="" />
  <!-- the hostname of your papi server ex: https://papi.mylibrary.org/ -->
  <add key="papi_request_hostname" value="" />  
  <!-- your papi credentials -->
  <add key="papi_user" value="" />
  <add key="papi_key" value="" />

  <!-- the active directory username and password to be used to make protected method calls and override public methods -->
  <add key="staff_username" value="" />
  <add key="staff_password" value="" />
  <add key="staff_domain" value="" />
  
  <!-- the twilio credentials for making phone calls -->
  <add key="twilio_account_number" value="" />
  <add key="twilio_auth_token" value="" />
  
  <!-- your mandrill api key -->
  <add key="mandrill_api_key" value=""/>

  <!-- enable sending notifications on certain events -->
  <add key="enable_notifier" value=""/>
  <!-- a semicolon separated list of emaill addresses and/or phone numbers you'd like notifications enabled for -->
  <add key="notify_email_addresses" value=""/>
  <add key="notify_phone_numbers" value=""/>

  <!-- you'll know if you need to change this-->
  <add key="enable_hangfire_msmq" value="false" />
  <!-- the group you’d like to give access to certain test methods and the hangfire dashboard to monitor jobs -->
  <add key="admin_permission_group" value="" />
<!-- END GLOBAL -->
  
  
<!-- DIALOUT -->
  <add key="enable_dialout" value="true" />
  <!-- the phone number to use to make phone calls -->
  <add key="from_phone" value="" />  
  <!-- enable call recording. this can incur extra charges.-->
  <add key="record_calls" value="false"/>
  <!-- the number of days to keep recordings, if enabled -->
  <add key="recording_retention_days" value="30"/>
  <!-- enable test mode. will only make one phone call to the specified debug number. the notices it uses for 
       that call will be updated as no-answer and a message is placed in the details of that notification update.
       set to true while setting up/testing and false once everything is working. -->
  <add key="debug" value="true" />
  <!-- the phone number to call when testing in debug mode -->
  <add key="debug_phone_number" value=""/>
  <!-- the branch to use when determining whether the library is open and make calls -->
  <add key="closed_date_branch" value=""/> 
  <!-- the hour you'd like to start making calls during the week, on a 24 hour clock -->
  <add key="weekday_start_hour" value="9"/>
  <!-- the hour you'd like to stop making calls during the week, on a 24 hour clock -->
  <add key="weekday_stop_hour" value="20"/>
  <!-- the hour you'd like to start making calls on the weekend, on a 24 hour clock -->
  <add key="weekend_start_hour" value="12"/>
  <!-- the hour you'd like to stop making calls on the weekend, on a 24 hour clock -->
  <add key="weekend_stop_hour" value="17"/>
  <!-- a list of LIBRARY organization IDs you want to call, leave at 0 to call all -->
  <add key="libraries_to_call" value="0"/>
<!-- END DIALOUT -->
  
<!-- DIALIN -->
  <add key="enable_dialin" value="false" />
  <!-- the number of times a patron can fail to respond to a prompt before being hung up on -->
  <add key="timeout_limit" value="5" />
  <!-- the length after which the 'enter your pin' prompt will automatically submit. -->
  <add key="pin_digit_length" value="4"/>
  <!-- the template to use when emailing the user a list of their titles a sample is included with this project -->
  <add key="email_template_name" value="Dial_In_Email_CheckedOutTitles"/>
  <!-- the patron credentials to use when testing the application, useful for debugging purposes -->
  <add key="test_barcode" value=""/>
  <add key="test_pin" value=""/>

  <!-- leave disabled -->
  <add key="enable_itiva_transfer" value="false"/>
  <!-- leave blank -->
  <add key="itiva_number" value=""/>
<!-- END DIALIN -->
  

<!-- EMAIL NOTICES -->
  <add key="enable_email_processing" value="false" />
  <!-- enable processing spam reports for only the patrons regisered at the library that sent the notice -->
  <add key="library_specific_spam" value="false"/>
  <!-- automatically remove patrons who report spam from the mandrill rejection black list. 
       this allows users to receive email notices again without staff intervention -->
  <add key="enable_spam_rejection_removal" value="true" />
<!-- END EMAIL NOTICES -->
  
<!-- SMS Notices -->
  <add key="enable_sms_processing" value="false"/>
  <!-- you'll know if you should set this to true -->
  <add key="use_wcf_to_send" value="false"/>
  <!-- The hour you'd like to start sending sms messages, on a 24 hour clock-->
  <add key="sms_start_hour" value="8" />
  <!-- The hour you'd like to stop sending sms messages, on a 24 hour clock-->
  <add key="sms_stop_hour" value="22" />
  <!-- Phone number to use when testing SMS queueing and sending -->
  <add key="sms_test_number" value ="" />
  <!-- Your twilio account sid, used to send SMS messages, leave blank to use dialout credentials -->
  <add key="sms_twilio_account_sid" value="" />
  <!--Your twilio auth token, used to send SMS messages, leave blank to use dialout credentials-->
  <add key="sms_twilio_auth_token" value="" />
<!-- END SMS NOTICES-->
</appSettings>

